/* reset css */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* su dung don vi rem : 1rem = 10px */
}
body{
    font-family: 'Lato', sans-serif;
    line-height: 1;
    font-weight: 400;
}
/* common css */
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
input, textarea, button {
    outline: none;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
}
/* bien css */
:root {
    --primaryColor: #64c29e;
    --headingColor: #353738;
    --textColor: #848789;
    --bgWhite: #ffffff;
    --bgLight: #f7f7f7;
}
/* wrapper */
.wrapper {
    max-width: 160rem;
    margin: 0 auto;
}
.header {
    min-height: 80rem;
    background-image: url('../images/bg_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.nav {
    margin-top: 3.5rem;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}
.nav__item:first-child::after, .nav__item:nth-child(4)::after {
    content: ".";
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    color: var(--headingColor);
}
.nav__link {
    color: var(--headingColor);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    position: relative;
}